*{
    margin: 0;
    padding: 0;
    background-color: red;
}
.index-header{
    margin: 0;
    padding: 0;
    height: 10vh;
    background-color: green;

}
.index-main{
    background-color: aqua;
    height: 90vh;
}